[Unit]
Description=AudioBot
After=network.target
Wants=redis-server.service

[Service]
User=user
Group=group
Type=simple
WorkingDirectory=/opt/audiotgbot
ExecStart=/opt/audiotgbot/venv/bin/python3.9 -m bot
Restart=always

[Install]
WantedBy=multi-user.target
